<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href = "{% static 'styles4.css' %}">
</head>
<body style = "background-color: #f4c2c2">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class = "container">
            <a href = "#" class = "navbar-brand">Tanisha's Portfolio</a>


            <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navmenu">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class = "collapse navbar-collapse" id = "navmenu">
                <ul class = "navbar-nav ms-auto">
                    <li class = "nav-item">
                        <a href = "{% url 'home' %}" class = "nav-link">Home</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "{% url 'about' %}" class = "nav-link">About Me</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "{% url 'contact' %}" class = "nav-link">Contact Me</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "{% url 'project' %}" class = "nav-link">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>

    <div class = "container">
        <div class = "card bg-dark text-light my-5">
            <div class = "h1 mb-3 text-center">
                <i class = "bi bi-book"></i>
            </div>
            <h3 class = "card-title text-center">
                1. W for WOMEN
            </h3>
            <p class = "card-text lead p-5 text-center">
Few weeks ago, I saw a video which was a news story on a girl who was raped when she was on ventilator bed. The news gashed my heart like a sword, which made me write and express out all my feelings.
Rape is just the end to the story, the story starts right when little boys are told, “Ladkiyo jaise kya ro raha hy”when they cry. It starts when they are taunted “Ladki se haar gaya”on losing from a girl. Story starts taking shape when that little boy grows with all these nonsense in his head and starts to believe that ‘Women are objects who belong to them’. He starts believing that ‘Women are born to make men’s life serene. They are born to bear, to adjust’. RESULT: inhuman practices like rapes, acid attacks on innocent girls.
Had we educated our children about gender equality, had we taught them that, “A girl and boy though differ physically, both deserve happiness, both deserve respect.” Had we normalized “periods” in our homes, maybe this world would have been a better place.
I have seen many boys speaking about men empowerment. They say, due to feminism men are not given equal status nowadays, they are undervalued. If this is so, why can’t a girl walk alone on roads at night? Even thinking of it haunts me. Why do a girl’s family need to enquire whether she would be allowed to work or not after marriage? Equality will be that day when this comes to an end. And this can be achieved not only by a men respecting a women, but also a women respecting self.
This reminds me of an incident from my school days. There was a friend of mine who belonged to an orthodox family. Her marriage was decided with a boy when she was about two years old. And she was officially going to marry him after her 12th. She never saw him, didn’t knew his behavior, nothing. Only fact she was aware of, was that she is already booked.
We both were good friends, one day while returning back to our homes she said me, “Kitna accha hoga na agar hum dono ki shaadi ek hi ghar mein ho. Kitne mazze karenge hum dono.”I felt bad for her. She made a settlement with her destiny and didn’t even try to do what makes her happy, to do something for self, to challenge her destiny.
Every girl should believe that she is someone special, she deserve something special and should work on it.
I have seen many girls who don’t give their best and upon asking reason, say “Shaadi ke baad toh husband ko hi kamaana hai. Toh khud karne ka kya fayda.”See girls, you need to understand, NO matter who your father is, NO matter who your husband is, NO matter who your brother is, you should be financially independent.
Read good books, work hard and get your dreams achieved. Respect yourself, don’t underestimate yourself and your potential. Remember, “The same God who created this entire beautiful world, felt a need of you in this world and thus created you. You are special”:)
            </p>
        </div>
        
        <div class = "card bg-dark text-light my-5">
            <div class = "h1 mb-3 text-center">
                <i class = "bi bi-book"></i>
            </div>
            <h3 class = "card-title text-center">
                2. VICTORY LIES IN COURAGE
            </h3>
            <p class = "card-text lead p-5 text-center">
    India is a land of bravery, valor. Chauri Chaura, Khilafat Movement, Salt Satyagraha, Civil Disobedience Movement, Quit India Movement and many such events clearly depict our courageous history. However, by time definition of courage has changed, struggles have changed. Lives have become faster. Every human is fighting a war. A war from self for self.
	You sitting comfortably in a limo running indolently, waving your hand out of your car for fans dying to witness a single appearance of yours (or) enjoying Jacuzzi bath in a lavish, big bathroom, or it may be anything else. We all  have imagined ourselves in a dream moment, a moment we want to live in this existential life. However, only a handful have turned it into reality. Not that others don’t know how to achieve that. We all are aware with what needs to be done, we just don’t do it. You want that healthy body with visible abs line, you have to exercise. You want to become a virtuous being, you have to read. You want money, you have to invest.
	The key feature differentiating these handful people from millions is “Courage”. Courage to say “YES” to opportunity at hand. Courage to do what is to be done. Two factors play major role in this – (1) Procrastination   (2) Fear.
	According to psychologists, our brain, mind, all senses, entire body is designed in a way that it wants to see us feel comfortable, rested, tense free. However, how contrast to this fact is that to achieve anything in life, we need to come out of our comfort zones, to challenge our capacities and push hard beyond them. Every time when you are about to do something for your betterment, your brain will try to create illusions in your mind like: This is hard (or) You can do it tomorrow (or) You are tired. All this to prevent you to come out of your comfort state. Studies have proved that it takes less than 5 sec for our brain to create these kind of illusions. To overcome, stop listening to your brain whenever it tries to misguide you and just do it. Make a time bound table, a day prior and without giving a second thought, just follow it dogmatically.
	Many don’t do things out of fear. Fear of failure, Fear of something going wrong, Fear of taunts, Fear of what society would think. We miss that life changing opportunity below the pressure of these fears.
	Understand my friend, life cannot be enjoyed playing safe. Trying something new always has two outcomes, either it works out for you and you win (or) you learn. You only fail when you give up. And what others perceive of you can never decide your destiny. However, how you perceive yourself will. Think that you are writing a book of your life, which you will be reading after your 70’s. What chapters would you want in the book? Work for them. Don’t let your life be normal and boring.
	And you will see, by time slowly and gradually you will gain more and more confidence which then will fill more and more courage in you. And then my friend victory belongs to you as it is said “Victory lies in Courage”.  
            </p>
        </div>

        <div class = "card bg-dark text-light my-5">
            <div class = "h1 mb-3 text-center">
                <i class = "bi bi-book"></i>
            </div>
            <h3 class = "card-title text-center">
                3. A SOLITARY FANTASY CAN TOTALLY TRANSFORM MILLION REALITIES.
            </h3>
            <p class = "card-text lead p-5 text-center">
            Right from enjoying Jacuzzi bath in a lavish, big bathroom to being a CEO, Entrepreneur of a big company which is the talk of the city, we all have had dreamed our fantasies and love them. And why won’t we, for we see ourselves as the person we want to be in our reality.
            And yes, that’s achievable. A solitary fantasy can truly transform million realities. Only thing is you need to work hard and smart to get that “can” off the sentence. 
            How do we do that? Well, the answer’s simple. Follow the top-down approach. Draw your present state on a paper and then draw your fantasy (or) the state you want to be. Now make a list of all qualities that are required to achieve your fantasy. And while doing so, don’t limit your imagination. As what you imagine is what will transpire, what you believe is what you will achieve. Then make a list of all that you need to learn (or) practice to achieve that quality. Then comes the most important part: Make a timetable. And include these things you are to learn. However, mind well while making, don’t be too harsh (or) too loose on yourself. Follow that timetable sincerely. As before God trusts you with success, you have to prove yourself humble enough to handle the bid prize.
            There will be times when you will be rejected, you would fail, but don’t quit. For a big shot is a little shot who keeps shooting. And failures contain within themselves the seeds of future learning which can lead to a high level of success. As we just don’t build on success, we also build on failures.
            APJ Abdul Kalam Sir has once said, “We are all born with a divine fire in us. Our efforts should be to give wings to this fire and fill the world with glow of its goodness.”
            So come on, let’s transform all the existing realities into fantasies we once dreamt of.
            
            </p>
        </div>

        <div class = "card bg-dark text-light my-5">
            <div class = "h1 mb-3 text-center">
                <i class = "bi bi-book"></i>
            </div>
            <h3 class = "card-title text-center">
                4. LIFE BEYOND UMBRELLA
            </h3>
            <p class = "card-text lead p-5">
                (Plot: Girl is walking on path which is compared to life.) 
(Points to know before reading:
(1) “HALL OF SUPRESSION” is a haunted place where someone is sent if his/her intentions are forcefully suppressed. 
(2) “CLOUD OF EMOTIONS” arrive to something if its urgent help is required to help human feel certain way. ) 

<br>
Mr. Brain (boastfully): Yes, you are doing well. Just remember, hold that umbrella firmly.<br>
Girl (hesitatingly): Th…Thank you.<br>
(After few minutes of walking)<br>
Mr. Brain: Watch out! Don’t step on that colorful stone. For it may seem an exciting, Goosebumps giving opportunity to rise you up but if you slip, you will fall hard. Take left turn. 
<br>Girl: Oh! Yes, I must protect myself. If I fall, I will completely be shattered. <br>
(After a long silent walk)<br>
(Girl clears her throat)<br>
Girl: May…may I ask you something? <br>
Mr. Brain: Sure. <br>
Girl: I…I am doing fine, right? <br>
Mr. Brain: Yes. Definitely. You have saved yourself from so many troubles. But you seem sad. What happened? <br>
Girl: I don’t know. I am doing as you said, but I don’t feel content within. Maybe this umbrella is very small. I feel choked here. Maybe I am tired of walking. Maybe I am confused. Maybe I am not worth walking here. I don’t know. 
<br>(Slight murmuring loudens and Ms. Heart appears)<br>
Ms. Heart (excited): I know, I know… <br>
Mr. Brain: Hey, Ms. Heart. It’s been a while. Where were you? <br>
Ms. Heart (sadly): I was sent to “THE HALL OF SUPPRESSION”. <br>
Mr. Brain: That place’s like swap. Very hard to come out of it. How did you escape? <br>
Ms. Heart: Well, seems like our girl isn’t happy. “Cloud of Emotions” rescued me saying it’s an “EMERGENCY”. So what’s the matter? (Looking at both) 
<br>Mr. Brain: I did my best, saved her from all problematic situations. But she isn’t happy. <br>
Ms. Heart: Hmm… (thinking for a moment and then speaks up) <br>
You know what Mr. Brain, as I always say, let her do what she wants. Don’t guide her through each and every situation. 
<br>Mr. Brain: Are you gone mad? This is like hopping into crocodile’s mouth. There are numerous risks that come along with these situations. She tempts to anything. But we need to understand. 
<br>Ms. Heart: What risks? She has got this life to live. Let her live as she wishes. 
<br>Mr. Brain: Look Ms. Heart, we both know what risks she is likely to face if she steps out of her umbrella. After all she is a girl. A girl’s life isn’t that easy. 
Molestations, Rape, Acid Attacks, Societal Barriers, Family Expectations, and Ambiguities related to her clothes, taunts on her bodily structure, insecurities and so much more. How could an innocent soul like her handle all this? 
<br>Ms. Heart: But then, this doesn’t mean she should miss all the opportunities coming her way. How will she become self-sufficient then? Isn’t that important as well? Being in umbrella, she won’t be able to experience all that. 
<br>Mr. Brain (after thinking for a while): You too are right. What do we do then? 
<br>Ms. Heart: Let’s toss, if head appears then she will follow her heads i.e., you. If it’s a tail then she will listen to me. Deal? 
<br>Mr. Brain (confidently): Deal. 
<br>(Ms. Heart tosses coin. On falling on ground, coin falls straight. Neither a head nor a tail) 
<br>Mr. Brain: Well, I guess it’s a message from Almighty that we both walk hand-in-hand and help her decide between what’s wrong and what’s right for her with a collective discussion. That will help her feel whole as a being.
<br>Ms. Heart: Yes. A decision which will allow her to grab all opportunities she can without falling prey to dirty game of bad people. 
<br>Mr. Brain and Ms. Heart (in chorus): Let’s Go!! 
<br>(Girl Laughs and walks happily.)

            </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>




