<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel = "stylesheet" href = "{% static 'styles2.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class = "container">
            <a href = "#" class = "navbar-brand">Tanisha's Portfolio</a>


            <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navmenu">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class = "collapse navbar-collapse" id = "navmenu">
                <ul class = "navbar-nav ms-auto">
                    <li class = "nav-item">
                        <a href = "{% url 'home' %}" class = "nav-link">Home</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "{% url 'project' %}" class = "nav-link">Projects</a>
                    </li>
                    <li class = "nav-item">
                        <a href = "{% url 'contact' %}" class = "nav-link">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>

    <section class = "py-5" style = "background-color: #f4c2c2">
        <div class = "container">
            <div class = "d-md-flex align-items-center justify-content-between">
                <div class = "card bg-dark text-light message-box">
                    <div class = "h1 mb-3 text-center">
                        <i class = "bi bi-lightbulb"></i>
                    </div>
                    <h3 class = "card-title mb-3 text-center">
                        Tanisha Pareek
                    </h3>
                    <p class = "card-text lead p-5">
                        I am a keen and a quick learner. I have basic knowledge of Web-development, Game-development. I also write articles, paint, craft, read books.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veniam error consequatur placeat optio, deserunt tempore, nihil iusto quae perferendis totam eligendi voluptas dolores at quis sequi praesentium reprehenderit magnam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime sit perspiciatis aliquam aspernatur, repellendus inventore doloremque esse, mollitia laudantium dolorem modi hic aliquid consequatur? Ipsa doloribus quos hic reiciendis dolore!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A alias sed blanditiis esse, nihil beatae autem minima vitae fugiat deserunt velit. Voluptate, consequuntur fuga iusto vero repellat porro. Architecto, sequi.
                    </p>
                </div>
                <div>
                    <img  class = "m-5 img-fluid d-none d-md-block" src="{% static 'tanisha.jpeg' %}" alt="img">
                </div>
            </div>
        </div>  
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


